* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #daccba;
}

.main{
padding-top: 100px;
}

.alert{
  border-radius: 15px;
}

.container {
  background-color: #f0eae7;
  border-radius: 15px;
  box-shadow: 15px 15px 15px #9f8c862a;
}

.fa-brands {
  font-size: 40px;
  color: #534947;
}

.rounded-circle {
  border: 1px solid #7d6e6a63;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: 0.1s;
}

.rounded-circle:hover {
  background-color: #9f8c86f7;
}

.rounded-circle:hover .fa-brands {
color: white;
}

.boton {
  background-color: #9f8c86f7;
  transition: 0.1s;
}
.boton:hover {
  background-color: #7d6e6a;
  color: white;
}
